$white: #ffffff;
$black-pearl: #071a2e;
$dark-blue:#184f88;
$transparent-blue: rgba(24, 79, 136, 0.3);
$orange: #ffcc01;
$dark-indigo: #0d253e;
$link-water: #f4f8fc;
$light-blue: #1e88f5;
$gray: #6d6d6d;